In [2]:
# importation des bibliothèques 
import pandas as pd 
import numpy as np 
import matplotlib as plt
%matplotlib  inline

In [3]:
# lecture des données 
stat   = pd.read_csv('stats.csv',header=0,index_col=0)
train  = pd.read_csv('train.csv',header=0,index_col=0)
player = pd.read_csv('players.csv',header=0)
test = pd.read_csv('test.csv',header=0)
tour   = pd.read_csv('tour.csv',header=0)
player_rates= pd.read_csv('player_rates.csv',header=0,index_col=0)

In [4]:
df=pd.DataFrame() # Initialisation d'une dataframe vide pour l'entraînement

Dans le code suivant , nous avons développé une fonction qui prend comme paramètre une dataframe et retourne une dataframe qui résume nombre et le pourcentage des données manquant pour chaque variable

In [5]:
def missing_data_function(frame:

    total = frame.isnull().sum().sort_values(ascending=False)
    percent = (frame.isnull().sum()*100 / frame.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data
missing_data=missing_data_function(stat)
#missing_data

In [4]:
# effacer les variables dans le Dataframe de statistique dont le pourcentage des données manquantes dépasse 90%
stat= stat.drop((missing_data[missing_data['Percent'] > 90]).index,1)#
missing_data=missing_data_function(stat)
missing_data

         Total   Percent
ACES_2     715  0.945630
ACES_1     713  0.942984
RPWOF_2    485  0.641441
RPW_2      485  0.641441
RPWOF_1    485  0.641441
RPW_1      485  0.641441
MT         356  0.470831
DF_2       223  0.294931
DF_1       222  0.293608
BP_2        26  0.034387
BPOF_2      21  0.027774
BP_1        18  0.023806
BPOF_1      18  0.023806
FS_1         2  0.002645
FSOF_1       2  0.002645
FS_2         2  0.002645
FSOF_2       2  0.002645
W2SOF_1      1  0.001323
W2S_1        1  0.001323
W2S_2        1  0.001323
W2SOF_2      1  0.001323
TPW_1        0  0.000000
W1S_2        0  0.000000
W1SOF_1      0  0.000000
W1S_1        0  0.000000
W1SOF_2      0  0.000000
TPW_2        0  0.000000
ID_R         0  0.000000
ID_T         0  0.000000
ID2          0  0.000000
ID1          0  0.000000

Après la suppression des variables dont les valeurs manquantes dépassent 90%, le pourcentage des valeurs manquant de ce que reste ne dépasse pas 1%. Nous cherchons maintenant de remplir les valeurs manquantes pour cela nous avons choisi la stratégie de la moyenne

In [9]:
stat.mean(axis=0) # la moyenne des  variables restantes

ID1        13959.548981
ID2        15796.505575
ID_T       11302.224716
ID_R           4.769094
FS_1          42.391408
FSOF_1        68.063736
ACES_1         4.813813
DF_1           2.567125
W1S_1         31.524130
W1SOF_1       42.394004
W2S_1         14.168060
W2SOF_1       25.678349
BP_1           3.859021
BPOF_1         8.311299
TPW_1         76.485591
FS_2          42.842109
FSOF_2        70.741988
ACES_2         3.468663
DF_2           3.389160
W1S_2         27.501210
W1SOF_2       42.844956
W2S_2         12.455469
W2SOF_2       27.905475
BP_2           1.541179
BPOF_2         4.774983
TPW_2         62.336803
RPW_1         30.767404
RPWOF_1       70.676876
RPW_2         22.348801
RPWOF_2       67.988766
dtype: float64

In [5]:
stat = stat.fillna(stat.mean(axis=0)) # le remplisage par la moyenne

In [6]:
missing_data=missing_data_function(stat)
missing_data

         Total   Percent
MT         356  0.470831
TPW_1        0  0.000000
ID2          0  0.000000
ID_T         0  0.000000
ID_R         0  0.000000
FS_1         0  0.000000
FSOF_1       0  0.000000
ACES_1       0  0.000000
DF_1         0  0.000000
W1S_1        0  0.000000
W1SOF_1      0  0.000000
W2S_1        0  0.000000
W2SOF_1      0  0.000000
BP_1         0  0.000000
BPOF_1       0  0.000000
FS_2         0  0.000000
RPWOF_2      0  0.000000
FSOF_2       0  0.000000
ACES_2       0  0.000000
DF_2         0  0.000000
W1S_2        0  0.000000
W1SOF_2      0  0.000000
W2S_2        0  0.000000
W2SOF_2      0  0.000000
BP_2         0  0.000000
BPOF_2       0  0.000000
TPW_2        0  0.000000
RPW_1        0  0.000000
RPWOF_1      0  0.000000
RPW_2        0  0.000000
ID1          0  0.000000

Seule la variable MT contient des valeurs manquantes et elle est inutile

In [16]:
# les valeurs manquantes pour le player_rate 
missing_data=missing_data_function(player_rates)
missing_data

         Total  Percent
POS_R        0      0.0
POINT_R      0      0.0
ID_P_R       0      0.0
DATE_R       0      0.0

In [6]:
missing_data=missing_data_function(player)
missing_data

               Total    Percent
CH_P           55462  99.820021
GRASSPOINT_P   54662  98.380188
GRASSTOUR_P    54662  98.380188
POINT_P        54662  98.380188
HARDPOINT_P    54662  98.380188
HARDTOUR_P     54662  98.380188
CLAYPOINT_P    54662  98.380188
CLAYTOUR_P     54662  98.380188
IHARDTOUR_P    54662  98.380188
CARPETPOINT_P  54662  98.380188
RANK_P         54662  98.380188
CARPETTOUR_P   54662  98.380188
DR_P           54662  98.380188
DP_P           54662  98.380188
DO_P           54662  98.380188
IHARDPOINT_P   54662  98.380188
PROGRESS_P     54662  98.380188
PRIZE_P        53829  96.880962
ITF_ID         39956  71.912458
DATE_P         28840  51.905979
COUNTRY_P      28220  50.790108
NAME_P             0   0.000000
ID_P               0   0.000000

la plupart des données dans la dataframe des joueurs sont manquantes. Le seuil des données manquantes dépasse 50%, malheureusement on ne peut pas utiliser cette dataframe pour générer des variables

In [11]:
# cette fonction prend comme paramètres, un nombre ( l'id d'un joueur) et la dataframe de statistiques et retourne une 
# variable booléenne : True s'il existe dans la dataframe de statistique Flase si non 
def match(number,stat):
    if number in list(stat['ID1']): return True
    if number in list (stat ['ID2']): return  True
    return False

In [23]:
train.shape

(73366, 6)

Dans la cellule suivante, nous avons  créer une dataframe Train_clean qui contient seulement les joueurs qui existent dans la dataframe de statistiques.

In [ ]:
train_clean=train
for i,j in zip (train['ID1_G'],train['ID2_G']):
    if match(i,stat)== False:
        train_clean=train_clean[train_clean.ID1_G != i]
    if match(j,stat)== False:
        train_clean=train_clean[train_clean.ID2_G != j]
train_clean.shape

In [13]:

percent=(train.shape[0]-train_clean.shape[0])*100/train.shape[0]
percent

2.2994302537960363

3% des matches contiennent des joueurs introuvables dans la dataframe des statistiques

In [39]:

missing_data=missing_data_function(train_clean)
missing_data

          Total  Percent
DATE_G        0      0.0
RESULT_G      0      0.0
ID_R_G        0      0.0
ID_T_G        0      0.0
ID2_G         0      0.0
ID1_G         0      0.0

In [ ]:
Commencer à remplir la dataframe DF qui sera exporter dans un fichier CSV et utliser pour entrainer les modèles

In [ ]:
df['ID2_G']=train_clean['ID2_G']
df['ID1_G']=train_clean['ID1_G']

In [12]:
df['DATE_G']=train_clean['DATE_G']
df['ID_T_G']=train_clean['ID_T_G']

In [43]:
missing_data=missing_data_function(df)
missing_data

       Total  Percent
ID2_G      0      0.0
ID1_G      0      0.0

In [27]:
nomatch_test=[]
for i,j in zip (test['ID1_G'],test['ID2_G']):
    if match(i,stat)== False and i not in nomatch_test : nomatch_test.append(i)
    if match(j,stat)== False and i not in nomatch_test : nomatch_test.append(j)
nomatch_test
print(len(nomatch_test)*100/len(list(test['ID1_G'])))

0.032803017877644745

In [ ]:
moins de 1%  des matches dans la dataframe de test  contiennent des joueurs introuvables dans la dataframe des statistiques

In [147]:
missing_data=missing_data_function(df)
missing_data

          Total  Percent
FATIGUE       0      0.0
FATIQUE       0      0.0
ID_T_G        0      0.0
DATE_G        0      0.0
PPM           0      0.0
DF_RANK       0      0.0
DF_POINT      0      0.0
H2H           0      0.0
Break         0      0.0
WIN           0      0.0
DF_PSS        0      0.0
DF_PFS        0      0.0
AVR_DF        0      0.0
DF_ACE        0      0.0
ID2_G         0      0.0
ID1_G         0      0.0

                                       ##### Commencer à construire les variables ###
                          vous trouvez plus de détailles sur la création de variables dans le rapport

In [10]:
#  la différence d’ACE par jeux entre les deux joueurs 
def ace(id_1, id_2, stat):
    o1=0
    s1=0
    o2 = 0
    s2 = 0
    for i, j , k ,l in zip(stat['ID1'],stat['ID2'],stat['ACES_1'],stat['ACES_2']):
        if i == id_1 :
            s1+=k
            o1+=1
        if j == id_1:
            s1+=l
            o1+=1
        if i == id_2:
            s2 += k
            o2 += 1
        if j == id_2:
            s2 += l
            o2+= 1
    ace1=s1/o1
    ace2=s2/o2
    return ace1-ace2

In [47]:
# création d'une cologne dans la Dataframe df d'entrainement 
l=[]
for i,j in zip(df['ID1_G'],df['ID2_G']):
        l.append(ace(i,j,stat))
df['DF_ACE']=l

In [48]:
missing_data=missing_data_function(df)
missing_data

        Total  Percent
DF_ACE      0      0.0
ID2_G       0      0.0
ID1_G       0      0.0

In [13]:
# la différence des double faute  par jeux   entre les deux joueurs
def averge_DF(id_1,id_2,stat):
    o1=0
    s1=0
    o2=0
    s2=0
    for i,j,k,l in zip(stat['ID1'], stat['ID2'], stat['DF_1'], stat['DF_2']):
        if i == id_1 :
            s1+=k
            o1+=1
        if j == id_1:
            s1+=l
            o1+=1
        if i == id_2:
            s2 += k
            o2 += 1
        if j == id_2:
            s2 += l
            o2 += 1
    
    
    df1=s1/o1
    df2=s2/o2
    
    return df1-df2

In [50]:
l=[]
for i,j in zip(df['ID1_G'],df['ID2_G']):
    
        l.append(averge_DF(i,j,stat))
    
df['AVR_DF']=l

In [52]:
df.shape

(71679, 4)

In [21]:
# différence entre la somme  Nombre de points gagnés sur premier services sur Nombre de points joués sur premier service 
# sur nombre des matchs jouées
def PFS (id_1,id_2,stat):
    o1=0
    s1=0
    s2=0
    o2=0
    for i,j,k,l,m,n in zip(stat['ID1'],stat['ID2'],stat['W1S_1'],stat['W1SOF_1'],stat['W1S_2'],stat['W1S_2']):
        if i == id_1 :
            if l !=0:
                s1+= k/l
            o1+=1
        if j== id_1:
            if n !=0:
                s1+=m/n
            o1+=1

        if i == id_2:
            if l !=0:
                s2 += k/l
            o2 += 1
        if j == id_2:
            if n !=0:
                s2 += m/n
            o2 += 1
    fs1=s1/o1
    fs2=s2/o2
    return fs1-fs2

In [54]:
l=[]
for i,j in zip(df['ID1_G'],df['ID2_G']):
    l.append(PFS(i,j,stat))
df['DF_PFS']=l

In [24]:
# différence entre la somme  Nombre de points gagnés sur seconde services sur Nombre de points joués sur seconde service 
# sur nombre des matchs jouées
def PSS (id_1,id_2,stat):
    o1=0
    s1=0
    s2=0
    o2=0
    for i,j,k,l,m,n in zip(stat['ID1'],stat['ID2'],stat['W2S_1'],stat['W2SOF_1'],stat['W2S_2'],stat['W2S_2']):
        if i == id_1 :
            if l !=0:
                s1+= k/l
            o1+=1
        if j== id_1:
            if n !=0: 
                s1+=m/n
            o1+=1

        if i == id_2:
            if l !=0:
                s2 += k/l
            o2 += 1
        if j == id_2:
            if n !=0:
                s2 += m/n
            o2 += 1
    fs1=s1/o1
    fs2=s2/o2
    return fs1-fs2

In [70]:
l=[]
for i,j in zip(df['ID1_G'],df['ID2_G']):
    l.append(PSS(i,j,stat))
df['DF_PSS']=l

In [15]:
#différence entre nombre des matchs gagné sur le nombre des matchs jouées
def win (id_1,id_2,stat):
    w1=0
    o1=0
    w2=0
    o2=0
    for i,j in zip(stat['ID1'],stat['ID2']):
        if i==id_1:
            w1+=1
            o1+=1
        if j== id_1:
            o1+=1
        if i==id_2:
            w2+=1
            o2+=1
        if  j==id_2:
            o2+=1
    win1=w1/o1
    win2=w2/o2
    return win1-win2

In [58]:
l=[]
for i,j in zip(df['ID1_G'],df['ID2_G']):
    l.append(win(i,j,stat))
df['WIN']=l

In [29]:
#différence entre les breaks gagné parmi les breaks joués  
def breack (id_1,id_2,stat): 
    o1=0
    s1=0
    s2=0
    o2=0
    for i,j,k,l,m,n in zip(stat['ID1'],stat['ID2'],stat['BP_1'],stat['BPOF_1'],stat['BP_2'],stat['BPOF_2']):
        if i == id_1 :
            if l!=0:
                s1+= k/l
            o1+=1
        if j== id_1:
            if n!=0:
                s1+=m/n
            o1+=1

        if i == id_2:
            if l!=0:
                s2 += k/l
            o2 += 1
        if j == id_2:
            if n!=0:
                s2 += m / n
            o2 += 1
    fs1=s1/o1
    fs2=s2/o2
    return fs1-fs2

In [74]:
l=[]
for i,j in zip(df['ID1_G'],df['ID2_G']):
    l.append(breack(i,j,stat))
df['Break']=l

In [7]:
# l'historique des matchs entre les deux joueus 
def head_to_head(id_1,id_2,stat):
    totale=0
    P1_win=0
    P2_win=0
    for i,j in zip(stat['ID1'], stat['ID2']):
        if i==id_1 and j==id_2: # le joueur J1 gagne 
            P1_win+=1
            totale+=1
        if j==id_1 and i==id_2: # le joueur J2 gagne 
            P2_win+=1
            totale+=1

        try:
            return (P1_win-P2_win)/totale
        except:
            return 0

In [ ]:
l=[]
for i,j in zip(df['ID1_G'],df['ID2_G']):
    l.append(head_to_head(i,j,stat))
df['H2H']=l

La fonction suivante décrit les compertements de deux joueurs vis à vis leurs adversaires communs

In [160]:
def win_common_opponent(id_1,id_2,stat):
    oppent_1=[] # liste des adversaires du premier joueur
    oppent_2=[] # liste des adversaires du second joueur
    for i,j in zip(stat['ID1'],stat['ID2']):
        if i == id_1 :
            oppent_1.append(j)
        if j == id_1:
            oppent_1.append(i)
        if i == id_2 :
            oppent_2.append(j)
        if j == id_2:
            oppent_2.append(i)

    intersection=np.intersect1d(oppent_1,oppent_2)
    dio_1= []
    dio_2=[]
    for i in intersection :
        for k,l in zip(stat['ID1'],stat['ID2']):
            if k == id_1 and l == i :
                dio_1.append(1)
            if k==i and l==id_1:
                dio_1.append(0)
            if k == id_2 and l == i:
                oppent_2.append(1)
            if k == i and l == id_2:
                oppent_2.append(0)




    wrp_1=np.mean(dio_1)
    wrp_2=np.mean(dio_2)
    return wrp_1-wrp_2

In [ ]:
l=[]
for i,j in zip(df['ID1_G'],df['ID2_G']):
    l.append(win_common_opponent(i,j,stat))
df['CO']=l

/home/balha/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/balha/.local/lib/python3.5/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

le calcul de ses deux variable prend énormement du temps

In [70]:
# modèlisation de la fatigue 
def fatigue(id_1,id_2,df,date,tf):
    fat1 = 0
    fat2 = 0
    for i,j,z in zip(tf['ID1_G'],tf['ID2_G'],tf['DATE_G']):
        if ((i==id_1) or (j ==id_1)) and (z==str(date-timedelta(days=1))):
            fat1+=0.5 # on attribue un score de 0.5 pour les matchs dans le jour-1 
        if ((i==id_1) or (j ==id_1)) and (z==str(date-timedelta(days=2))):
            fat1+=2/6  # on attribue un score de 2/6 pour les matchs dans le jour-2
        if ((i == id_1)or(j == id_1)) and(z ==str(date-timedelta(days=3))):
            fat1+=1/6  # on attribue un score de 1/6 pour les matchs dans le jour-3 

        if ((i==id_1) or (j ==id_2)) and (z==str(date-timedelta(days=1))):
            fat2+=0.5
        if ((i==id_1) or (j ==id_2)) and (z==str(date-timedelta(days=2))):
            fat2+=2/6
        if ((i == id_1)or(j == id_2)) and(z ==str(date-timedelta(days=3))):
            fat2+=1/6
    #print(fat1)
    #print(fat2)
    return fat1-fat2

In [43]:
from datetime import datetime
from datetime import  timedelta

In [ ]:
l=[]
for i,j,y,z in zip(df['ID1_G'],df['ID2_G'],df['DATE_G'],df['ID_T_G']):
    try:
        d=datetime.strptime(j[:10] ,'%Y-%m-%d') # on essaie de récuppérer la date de dataframe d'entrainement 
    except:
        d=tour[tour['ID_T'] == z]['DATE_T'].values[0] # sinon on la récuppére de la datatframe de TOURs
        d=datetime.strptime(d[:10] ,'%Y-%m-%d')
    l.append(fatigue(i,j,df,d))
        
        
        
            
df['FATIGUE']=l

In [56]:
# la différence de points entre les deux joueurs 
def point_def(id_1,id_2,player_rates):
    
    if id_1 in list(player_rates['ID_P_R']):
        rank_1=player_rates[player_rates['ID_P_R'] == id_1]['POINT_R'].values[0]

    else: 
        rank_1= min(list(player_rates['POINT_R'])) # si le joueurs est non classé on l'attribue le minimum de point  

    if  id_2 in list(player_rates['ID_P_R']):
        rank_2 = player_rates[player_rates['ID_P_R'] == id_2]['POINT_R'].values[0]
    else:
        rank_2= min(list(player_rates['POINT_R'])) # si le joueurs est non classé on l'attribue le minimum de point  
        
    return rank_1-rank_2

In [ ]:
l=[]
for i, j in zip(df['ID1_G'],df['ID2_G']):
    l.append(point_def(i,j,player_rates))
df['DF_POINT']=l

In [59]:
# la différence de rangs  entre les deux joueurs 
def rank_def(id_1,id_2,player_rates):
    
    if id_1 in list(player_rates['ID_P_R']):
        rank_1=player_rates[player_rates['ID_P_R'] == id_1]['POS_R'].values[0]

    else: 
        rank_1= max(list(player_rates['POS_R']))  # si le joueurs est non classé on l'attribue le rang de dernier 

    if  id_2 in list(player_rates['ID_P_R']):
        rank_2 = player_rates[player_rates['ID_P_R'] == id_2]['POS_R'].values[0]
    else:
        rank_2= max(list(player_rates['POS_R'])) # si le joueurs est non classé on l'attribue le rang de dernier 
        
    return rank_1-rank_2

In [ ]:
l=[]
for i, j in zip(df['ID1_G'],df['ID2_G']):
    l.append(rank_def(i,j,player_rates))
df['DF_RANK']=l

In [ ]:
train_clean.keys()

In [65]:
# modèlisation de la " complétude " des joueurs on dit qu'un joueur est complet si il est à la fois un bon defensur
#  et  un bon attaquant , on modèlise l'attaque par " Ace par matchs " et la défense par
# "breaks gagnés par break joués par matchs" la variable est la résultante de la production 
# 
def complet (id_1,id_2,stat): 
    o1=0
    s1=0
    a1=0
    s2=0
    o2=0
    a2=0
    for i, j ,k ,l,m,n,y,z in zip(stat['ID1'],stat['ID2'],stat['BP_1'],stat['BPOF_1'],stat['BP_2'],stat['BPOF_2'],stat['ACES_1'],stat['ACES_2']):
        if i == id_1 :
            if l!=0:
                s1+= k/l
            a1+=y
            o1+=1
        if j== id_1:
            if n!=0:
                s1+=m/n
            o1+=1
            a1+=z

        if i == id_2:
            if l!=0:
                s2 += k/l
            a2+=y
            o2 += 1
        if j == id_2:
            if n!=0:
                s2 += m / n
            a2+=z
            o2 += 1
    
    fs1=s1*a1/o1
    fs2=s2*a2/o2
    return fs1-fs2

In [14]:
l=[]
for i, j in zip(df['ID1_G'],df['ID2_G']):
    l.append(complet(i,j,stat))
df['complet']=l

In [16]:
# exportation de DF vers un fichier excel 
df.to_csv('data_1.csv')

In [8]:
nomatch=[]
for i,j in zip (test['ID1_G'],test['ID2_G']):
    if match(i,stat)== False and i not in nomatch : nomatch.append(i)
    if match(j,stat)== False and i not in nomatch : nomatch.append(j)
nomatch
print(len(nomatch)*100/len(list(test['ID1_G'])))

0.032803017877644745

In [9]:
#ts=pd.DataFrame()

                                   ### créarion des variables pour la dataframe de test ###
                           nous avons appliqué les mêmes fonctions pour la dataframe d'entrainement
    nous avons utilisé ( try : except ) à cause d'absence des données dans le fichier statistque pour certains joueurs

In [11]:
l=[]
for i,j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(ace(i,j,stat))
    except:
        l.append(None)
test['DF_ACE']=l

In [75]:
missing_data=missing_data_function(test)
missing_data

          Total   Percent
complet       4  0.065606
WIN           4  0.065606
DF_ACE        4  0.065606
AVR_DF        4  0.065606
DF_PFS        4  0.065606
PPM           4  0.065606
DF_PSS        4  0.065606
Break         4  0.065606
H2H           0  0.000000
FATIGUE       0  0.000000
DF_POINT      0  0.000000
DF_RANK       0  0.000000
DATE_G        0  0.000000
ID_R_G        0  0.000000
ID_T_G        0  0.000000
ID2_G         0  0.000000
ID1_G         0  0.000000

In [ ]:
les données sur 4 match seulement sont manquantes

In [ ]:
l=[]
for i,j 

in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(ace(i,j,stat))
    except:
        l.append(None)
test['DF_ACE']=l

In [16]:
l=[]
for i,j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(averge_DF(i,j,stat))
    except:
        l.append(None)
test['AVR_DF']=l

In [22]:
l=[]
for i,j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(PFS(i,j,stat))
    except:
        l.append(None)
test['DF_PFS']=l

In [25]:
l=[]
for i,j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(PSS(i,j,stat))
    except:
        l.append(None)
test['DF_PSS']=l

In [27]:
l=[]
for i,j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(win(i,j,stat))
    except:
        l.append(None)
test['WIN']=l

In [30]:
l=[]
for i,j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(breack(i,j,stat))
    except:
        l.append(None)
test['Break']=l

In [33]:
l=[]
for i,j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(head_to_head(i,j,stat))
    except:
        l.append(None)
test['H2H']=l

In [74]:
l=[]
for i,j,y,z in zip(test['ID1_G'],test['ID2_G'],test['DATE_G'],test['ID_T_G']):
    try:
        try:
            d=datetime.strptime(y[:10] ,'%Y-%m-%d')
            
        except:
            d=tour[tour['ID_T'] == z]['DATE_T'].values[0]
            d=datetime.strptime(d[:10] ,'%Y-%m-%d')
        l.append(fatigue(i,j,test,d,test))
    except:
        l.append(None)
    
        
        
        
            
test['FATIGUE']=l

In [58]:
l=[]
for i, j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(point_def(i,j,player_rates))
    except:
        l.append(None)
test['DF_POINT']=l

In [61]:
l=[]
for i, j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(rank_def(i,j,player_rates))
    except:
        l.append(None)
test['DF_RANK']=l

In [63]:
l=[]
for i, j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(PPM(i,j,stat))
    except:
        l.append(None)
test['PPM']=l

In [66]:
l=[]
for i, j in zip(test['ID1_G'],test['ID2_G']):
    try:
        l.append(complet(i,j,stat))
    except:
        l.append(None)
test['complet']=l

In [69]:
# exportation de la dataframe vers un fichier excel 
test.to_csv('ts.csv')